*_local.py
*.pyc
.idea/
corpus/
events/
.DS_Store
demo/
venv
classification/doc2vec_cati.d2v
classification/tmp_doc2vec/*
classification/test/
classification/images/*
classification/logs/*
classification/train/
classification/unlabeled/
classification/test/*
classification/train/*
classification/unlabeled/*
classification/classification/*
ariadne/classification/*
classification/tmp_data/*
classification/tmp_data*
classification/original_tmp_data/*
browser/static/images/2015
browser/static/images/2017
classification/original_tmp_data_comp/*
browser/static/images/Twitter_2017_Imgs
browser/static/images/Twitter_2016_Imgs/
browser/static/images/Twitter_2015_Imgs/
browser/static/images/Twitter_2015_labeled/
browser/static/images/Twitter_2015_Imgs.lnk
key.pem
cert.pem
config.json
.rnd
cati-logs.txt
mabed-logs.txt


