.slider-range{
  padding-top:5px;
  height:490px;
}

input[type=number]::-webkit-inner-spin-button {
    opacity: 1
}

.bigrams-controls {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.54);
    padding: 20px;
    margin-top: 10px;
    width: 100%;
}

.tag-cloud svg {
  display: block;
}

.tag-cloud{
  border-color: none;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.54);
}

/* Carousel related

.carousel-fade .carousel-inner .item {
  opacity: 0;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}
.carousel-fade .carousel-inner .active {
  opacity: 1;
}
.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
  left: 0;
  opacity: 0;
  z-index: 1;
}
.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
  opacity: 1;
}
.carousel-fade .carousel-control {
  z-index: 2;
}*/