.search-accordion {
    padding-bottom: 5em;
}

.geo_tweets_results {
    color: #aaa;
    font-size: 15px;
}

.ui-dialog { z-index: 2147483647 !important }

.search-accordion .card .card-header {
    background-color: #677079;
    cursor: pointer;
}
.search-accordion .card .card-header a {
    color: white !important;
}
.search-accordion .card .card-header a:after,
.search-accordion .card .card-header a.collapsed:after{
    font-family: FontAwesome;
    content: "\f053";
    position: absolute;
    top: 14px;
    right:25px;
}
.#search-accordion .card .card-header a.collapsed:after{
    content: "\f078";
}


.bigrams-graph-area g.arc:hover path {
    stroke: gray;
    stroke-width: 1;
}

.bigrams-graph-area g text {
    cursor: text;
}

.bigrams-graph-area .node {
  cursor: pointer
}

.bigrams-graph-area .node {
  cursor: pointer
}

.bigrams-graph-area {
  cursor: move
}

.bigrams-graph-area svg:hover {
    outline: thin dotted #c7c7c7;
}

.bigrams-controls{
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.54);
}

.bigrams-controls .toggle {
    width: 100% !important;
}

.bigrams-stats svg{
    display: block;
    margin: 0px auto;
}

#search-results-tabs .nav-link {
    padding: 9px;
}